{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Positiv</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/framework.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'images/logo.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet" type="text/css" />
  {% endblock %}

</head>
<body>
  <section class="w-section mobile-wrapper">
  {% block asidemenu %}
          {% include 'asidemenu.html' with exit=exit_button returning_addr=returning_addr %}
        {% endblock %}
    <div class="page-content bg-gradient" id="main-stack" data-scroll="0">
        
        
          <!-- Aside nav -->        
          
          <!-- <div class="navbar-title">Home</div> -->
          
      <!-- </div> -->

      {% block body-content %}
      {% endblock %}
      
    </div>
    <div class="page-content loading-mask" id="new-stack">
      <div class="loading-icon">
        <div class="navbar-button-icon icon ion-load-d"></div>
      </div>
    </div>
  </section>
  <script src="{% static 'js/webfont.js' %}"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700"]
      }
    });
  </script>
  {% block js %}

  <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'js/jquery.min' %}.js"></script> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="{% static 'js/framework.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  <!--[if lte IE 9]><script src="js/placeholders.min.js"></script><![endif]-->
  {% endblock %}

</body>
</html>