{% extends 'base.html' %}

{% block body-content %}
<div class="body padding">
  <!-- <div class="logo-login smaller"></div> -->
  <div class="padding vertical-30">
    <div>
      <h2 class="title-new light">Let's practice some positive thinking!</h2>
      <div class="separator-fields"></div>
      <ul class="exercise-list">
  <li class="exercise-item">
  <a href="/reflection1">Daily reflection <i class="fa fa-chevron-right chevron-pull-right" aria-hidden="true"></i></li></a>
  <li class="exercise-item">Motivate Yourself <i class="fa fa-chevron-right chevron-pull-right" aria-hidden="true"></i></li>
  <li class="exercise-item">Lorem ipsum <i class="fa fa-chevron-right chevron-pull-right" aria-hidden="true"></i></li>
</ul>
    </div>        
  </div>
</div>
{% endblock %}