<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Reflection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/framework.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico">
  <link rel="apple-touch-icon" href="images/logo.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <section class="w-section mobile-wrapper">
    <div class="page-content bg-gradient" id="main-stack" data-scroll="0">
      <div class="w-nav navbar transparent" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
        <div class="w-container">
          <!-- Aside nav -->
          
          <nav class="w-nav-menu nav-menu bg-gradient" role="navigation">
            <div class="nav-menu-header">
              <div class="logo">Positiv</div>
            </div>
            <a class="w-clearfix w-inline-block nav-menu-link" href="home-positiv.html" data-load="1">
              <div class="icon-list-menu">
                <div class="icon ion-ios-home-outline"></div>
              </div>
              <div class="nav-menu-titles">Home</div>
            </a>
            <a class="w-clearfix w-inline-block nav-menu-link" href="features.html" data-load="1">
              <div class="icon-list-menu">
                <div class="icon ion-ios-box-outline"></div>
              </div>
              <div class="nav-menu-titles">Diary</div>
              <div class="nav-menu-text-right">6</div>
            </a>
            <a class="w-clearfix w-inline-block nav-menu-link" href="calendar.html" data-load="1">
              <div class="icon-list-menu">
                <div class="icon ion-ios-calendar-outline"></div>
              </div>
              <div class="nav-menu-titles">Graph</div>
            </a>            
            <a class="w-clearfix w-inline-block nav-menu-link" href="settings.html" data-load="1">
              <div class="icon-list-menu">
                <div class="icon ion-ios-gear-outline"></div>
              </div>
              <div class="nav-menu-titles">Settings</div>
            </a>
            <div class="separator-bottom"></div>
            <div class="separator-bottom"></div>
            <div class="separator-bottom"></div>
          </nav>
          <!-- End aside nav -->
          <div class="wrapper-mask" data-ix="menu-mask"></div>
          <!-- <div class="navbar-title">Sign Up</div> -->
          <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
            <div class="navbar-button-icon home-icon">
              <div class="bar-home-icon top"></div>
              <div class="bar-home-icon middle"></div>
              <div class="bar-home-icon bottom"></div>
            </div>
          </div>
          <!-- Insert menu partial -->
        </div>
      </div>
      <div class="body padding">
        <!-- <div class="logo-login smaller"></div> -->
        <div class="padding vertical-30">
          <div>
            <h2 class="title-new light">Let's practice some positive thinking!</h2>
            <div class="separator-fields"></div>
            <ul class="exercise-list">
        <li class="exercise-item">
        Daily reflection <i class="fa fa-chevron-right chevron-pull-right" aria-hidden="true"></i></li>
        <li class="exercise-item">Motivate Yourself <i class="fa fa-chevron-right chevron-pull-right" aria-hidden="true"></i></li>
        <li class="exercise-item">Lorem ipsum <i class="fa fa-chevron-right chevron-pull-right" aria-hidden="true"></i></li>
      </ul>
          </div>        
        </div>
      </div>
      
      
    </div>
    <div class="page-content loading-mask" id="new-stack">
      <div class="loading-icon">
        <div class="navbar-button-icon icon ion-load-d"></div>
      </div>
    </div>
  </section>
  <script src="js/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/framework.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
  <!--[if lte IE 9]><script src="js/placeholders.min.js"></script><![endif]-->
</body>
</html>