{% extends 'base.html' %}
{% block body-content %}

    <div class="body padding">

     
      <div class="news-mask"></div>
      <div class="news-container">
        <ul class="w-clearfix list-news">
        {%for post in posts%}
          <li class="list-item-new post" >
                <h2 class="title-new">{{post.date}}</h2>
                <p class="description-new dummy">Access all news easily and instantaneously by taking taking</p>

                <!-- <img class = "description-new face" src={{post.image}} style="width:200px;"> -->
                <p class ="description-new dark face">Face: {{post.faceID}}</p>
                <p class ="description-new dark score">Score: {{post.score}}</p>
                <p class = "description-new dark hightlight"> Highlights: {{ post.exercise }} </p>
                <p class = "description-new dark problem"> Problem: {{ post.exercise }}</p>
                <a class="category-link keyword" href="#">RELATIONSHIP</a>
                <a class="category-link keyword" href="#">WORK</a>
                {%for keyword in keywords%}
                <a class="category-link keyword" href="#">{{post.keywords.keyword}}</a>
                {%endfor%}
          </li>
          {%endfor%}
          </ul>
            
     
    </div>
    
    </div>
{% endblock %}
  