{% extends 'base.html' %}
{% block body-content %}
      <div class="body padding">
        <p id= "user"> <span >User:</span> 
          <span class= "Name">Name</span> </p>
   <span id ="Name"></span></p>
  <div><span class = "exc">Breathing Exercise</span> 
   
<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label>
     
</div>
  <p class="time">Time: <span><select></select> </span> <span></p>
    <p class="duration">Duration: <span><select></select> minutes</span> <span></p>
  
   </span></p>

  <div><span class = "exc">Mindful Exercise</span> 
   
<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label>
     
</div>
  <p class="time">Time: <span><select></select> </span> <span></p>
    <p class="duration">Duration: <span><select></select> minutes</span> <span></p>
      
  <div><span class = "exc">Daily Reflection</span> 
   
<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label>
     
</div>
  <p class="time">Time: <span><select></select> </span> <span></p>
    <p class="duration">Duration: <span><select></select> minutes</span> <span></p>
    <div><span class = "exc">Art Therapy </span> 
   
<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label>
     
</div>
  <p class="time">Time: <span><select></select> </span> <span></p>
    <p class="duration">Duration: <span><select></select> minutes</span> <span></p>
  
   </span></p>
          
        </div>
      </div>
    </div>

{% endblock %}