
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contact</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/framework.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico">
  <link rel="apple-touch-icon" href="images/logo.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <section class="w-section mobile-wrapper">
    <div class="page-content" id="main-stack">
      <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
        <div class="w-container">
          <div class="wrapper-mask" data-ix="menu-mask"></div>
          <div class="navbar-title">Profile and Setting</div>
          <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
            <div class="navbar-button-icon home-icon">
              <div class="bar-home-icon top"></div>
              <div class="bar-home-icon middle"></div>
              <div class="bar-home-icon bottom"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="body padding">
        <p id= "user"> <span >User:</span> 
          <span class= "Name">Name</span> </p>
   <span id ="Name"></span></p>
  <div><span class = "exc">Morning Exercise</span> 
   
<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label>
     
</div>
  <p class="time">Time: <span><select></select> </span> <span></p>
    <p class="duration">Duration: <span><select></select> minutes</span> <span></p>
  
   <span><input type="text" id="country1" placeholder=""></span></p>
  <div><span class = "exc">Mindful Exercise</span> 
   
<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label>
     
</div>
  <p class="time">Time: <span><select></select> </span> <span></p>
    <p class="duration">Duration: <span><select></select> minutes</span> <span></p>
      <p> <span class= "Name">Name</span> 
   <span><input type="text" id="country1" placeholder=""></span></p>
  <div><span class = "exc">Daily Reflection</span> 
   
<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label>
     
</div>
  <p class="time">Time: <span><select></select> </span> <span></p>
    <p class="duration">Duration: <span><select></select> minutes</span> <span></p>
          
        </div>
      </div>
    </div>
    <div class="page-content loading-mask" id="new-stack">
      <div class="loading-icon">
        <div class="navbar-button-icon icon ion-load-d"></div>
      </div>
    </div>
  </section>
  <script src="js/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/framework.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
  <!--[if lte IE 9]><script src="js/placeholders.min.js"></script><![endif]-->
</body>
</html>