{% extends 'base.html' %}

{% block body-content %}
      <div class="body padding">
        <!-- <div class="logo-login smaller"></div> -->
        
        <div class="padding quote">
          <p class="description-new">I'm sorry your day did not go so well. Don't let your frustration aggregate. Break them down and we'll tackle them one by one!
          <!-- <br> -->
          <!-- <span class="quote-author">- Albert Einstein</span> -->
          </p>
        </div>
        <div class="padding vertical-center">
          <div class="w-form">
            <form id="submit-form" name="email-form" action="#">
              <div>
                <h2 class="title-new light">Let's try thinking about what caused each of these frustrations?</h2>
                <div class="reasons">
                  <a class="bubble-block active" href="#">ACADEMIC</a>
                  <a class="bubble-block" href="#">WORK</a>
                  <a class="bubble-block active" href="#">RELATIONSHIP</a>
                  <a class="bubble-block" href="#">FAMILY</a>
                </div>
                <div class="separator-button-input"></div>
                <span class="light">Other</span>
                <input class="w-input input-form light" id="high-point" type="text" name="high-point" data-name="high-point" required="required" rows="1"> 
                
              </div>
              <div class="separator-button-input"></div>
              <input class="w-button action-button" type="submit" value="Next" data-wait="Please wait...">
              <div class="separator-button"></div><a class="link-upper" href="#" data-load="1">Skip</a>
            </form>
            
          </div>
        </div>
      </div>
{% include "progress-bar.html" with perc=60 %}
{% endblock %}
