<div class="body padding">
  <!-- <div class="logo-login smaller"></div> -->
  
  <div class="padding quote with-mark">
    <p class="description-new indent-6">In the middle of every difficulty lies opportunity.
    <br>
    <span class="quote-author">- Albert Einstein</span></p>
  </div>
  <div class="padding vertical-center">
    <div class="">
      <form id="reflection-form" name="email-form" action="#" data-inject="/reflection3" data-step="low-point">
        <div>
          <h2 class="title-new light">What did not go so well today?</h2>
          <textarea class="w-input input-form light" type="text" name="low-point" required="required" rows="1"> </textarea> 
          <i class="icon ion-ios-mic input-mic" aria-hidden="true"></i>
        </div>
        <div class="separator-button-input"></div>
        <input class="w-button action-button" type="submit" value="Next" data-wait="Please wait...">
        <div class="separator-button"></div><a class="link-upper" href="#" data-load="1">Skip</a>
      </form>
      
    </div>
  </div>
</div>