
      <div class="body padding">
        <div class="padding quote">
          <p class="description-new">I'm glad you have been able to deconstruct what frustrated you today. Don't forget to take a moment to think about how you can go about solving these problems, now that you have compartmentalized them.
          <!-- <br> -->
          <!-- <span class="quote-author">- Albert Einstein</span> -->
          </p>
        </div>
        <div class="padding vertical-center">
          <div class="w-form">
            <form id="reflection-form" name="email-form" action="#" data-redirect="/" data-step="better">
              <div>
                <h2 class="title-new light">Are you feeling better now? :)</h2>
                
                <div class="separator-fields"></div>
                <button class="better-face button light round" data-face="happy" type="submit">:)</button>
                <button class="better-face button light round" data-face="unhappy" type="submit">:(</button>
              </div>
              <!-- <div class="separator-button-input"></div>
              <input class="w-button action-button" type="submit" value="Sign Up" data-wait="Please wait...">
              <div class="separator-button"></div><a class="link-upper" href="login.html" data-load="1">Already have an account? <strong class="b-link">Sign in</strong></a> -->
            </form>
          </div>
        </div>
      </div>
{% include "progress-bar.html" with perc=80 %}
